<div id="home-items">
  <p>Hello & Welcome</p>
  <p style="white-space: break-spaces; line-height: 3rem">{{typewriterDisplay}}<span
    style="font-size: 2rem">|</span></p>
  <div>
    <button mat-button matTooltip="My Blog">
      <mat-icon>book</mat-icon>
    </button>
    <button mat-button matTooltip="My Facebook">
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-button matTooltip="My Linkedin">
      <mat-icon>linkedin</mat-icon>
    </button>
  </div>
  <button style="margin: 1rem 0" mat-stroked-button matTooltip="Download my CV">
    Download CV
  </button>
</div>
