.mat-toolbar.mat-primary {
  -webkit-transition: 700ms ;
  -ms-transition:  700ms ;
  transition: 700ms ;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.fixed {
  position: absolute;
  background-color: transparent !important;
  top: 0;
  z-index: 5;
  align-content: center;
  color: #fff;
  transition: 0.5s;
}
.sticky {
  position: sticky !important;
  position: -webkit-sticky;
  background-color: white;
  top: 0;
  z-index: 5;
  color: #FFF;
  transition:  0.5s;
}

.content-div {
  width: 100%;
  height: 100%;
  /*overflow-x: hidden;*/
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}

.right-menu {
  width: 250px;
}

.right-menu-content {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  background-image: url("/assets/img/home-bg.jpg");
  background-color: #f7f8fa !important;
  background-position: top center;
  background-size: cover;
  top: 0;
  z-index: 0;
  align-items: center;
  position: relative;
  padding: 2rem;
  box-sizing: border-box;
}

#home-bg-overlay {
  height: 100vh;
  background-color: #000;
  opacity: 70%;
}

#home-content {
  background-color: #f7f8fa;
  font-size: 1rem;
  z-index: 1;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 74px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.topbar {
  display: flex;
}

.download-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.card-img-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  cursor: pointer;
}

.card-img {
  width: 50%;
}

.card-content {
  margin-top: 1rem;
  text-align: center;
  font-weight: bolder;
}

.page-footer {
  background-color: #484848;
  color: #fff;
  padding: 2rem;
}

.footer-copyright {
  border-top: 1px solid #fff;
  padding: 1rem 0;
  margin-top: 1rem;
  text-align: center;
}

#features-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#features-section .feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
}

.text-muted {
  color: #6e6e6e !important;
  text-align: center;
}

.feature-item-content {
}

.text-center {
  text-align: center !important;
}

#digital-marketing-section .card-img {
  width: 90%;
}

.marketing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

.marketing-card {
  padding: 2rem;
}

.section-header {
  padding: 0.5rem 0;
}

.section-content {
  padding: 2rem 0;
}

main-section {
  height: 100%;
  display: block;
  overflow-y: auto;
}

.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
