<app-side-nav [sidenavTemplateRef]='navContent' [direction]="'right'" [navWidth]='280' [duration]='0.5'
              [pathLists]='pathLists'></app-side-nav>

<div class='main-container' #mainContent style='height: 100%'>
  <mat-toolbar [ngClass]='!isMobile ? "fixed" : "sticky mat-elevation-z8"' #pageHeader>
    <mat-toolbar-row style='min-height: 100px !important;'>
      <div class='container topbar'>
        <div>
          <a mat-button class='logo' href='/'>
            Truong
          </a>
        </div>
        <div class='spacer'></div>
        <div class='top-menu' fxLayout='row'>
          <ng-container *ngIf='!isMobile'>
            <ng-container *ngFor='let path of pathLists'>
              <a *ngIf="path?.href == null" mat-button style='margin-right: 1rem' [routerLink]="[path.url]">{{path.pathName}}</a>
              <a *ngIf="path?.href != null" mat-button style='margin-right: 1rem' href="{{path.href}}">{{path.pathName}}</a>
            </ng-container>
          </ng-container>
          <button mat-button (click)='toggleSideNav()' *ngIf='isMobile'>
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <section>
    <div class='content-div' fxLayout='column' fxFlexFill>
      <section id='home'>
        <div id='home-content'>
          <div id="home-bg-overlay"
               class="flex-center"></div>
          <div style="position: absolute; height: 100%; overflow: auto" class="flex-center-column">
            <router-outlet></router-outlet>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>

<ng-template #navContent>
  <mat-list>
    <mat-list-item *ngFor='let path of pathLists' style='text-transform: uppercase; color: #0e0c0c' matRipple
                   [routerLink]="[path.url]">
      {{path.pathName}}
    </mat-list-item>
  </mat-list>
  <!-- <ng-container *ngFor='let path of pathLists'>
    <a mat-list-item style='text-transform: uppercase; color: #0e0c0c' matRipple></a>
  </ng-container> -->
</ng-template>
