<div style="height: 100vh; overflow: auto">
  <div class="container" [style]="isMobile ? {'padding-top': '0px'} : {'padding-top' : '150px'}">
    <div class="about-me" fxLayout="row wrap" fxLayout.lt-sm="column wrap" fxLayoutGap="1rem">
      <app-personal-info [isMobile]="isMobile"></app-personal-info>
      <div fxFlex>
        <mat-card id="right-content">
          <section id="about" class="container">
            <div class="flex-center">
              <h5>About Me</h5>
              <div style="width: 70%; text-align: center">Experienced Java Web Development with a demonstrated history
                of
                working in the computer software industry. Skilled in Spring Framework, Angular, .NetCore, etc.
              </div>
              <div id="skills" fxLayout="row wrap" fxLayout.lt-md="column">
                <ng-container *ngFor="let skill of skillLists">
                  <div fxFlex="33.33%" class="skill-item">
                    <div style="display: flex; padding-bottom: 0.5rem">
                      <label>{{skill.name}}</label>
                      <div class="spacer"></div>
                      <label style="color: #f44336">{{skill.value}}%</label>
                    </div>
                    <mat-progress-bar color="warn" class="green-progress" mode="determinate"
                                      [value]="skill.value"></mat-progress-bar>
                  </div>
                </ng-container>
              </div>
            </div>
          </section>
          <section id="certs">
            <div class="container flex-center">
              <h5>Certificates</h5>
              <div id="cert" fxLayout="row wrap" fxLayout.lt-md="column">
                <div style="height: 100px">
                  <img style="height: 100%;" src="/assets/img/Oracle_Java_SE_11_Developer_600x600__002_.png" alt="">
                </div>
                <a href="https://www.credly.com/badges/f15b30cc-f9e8-4f40-9753-69eca9da1d4d/linked_in">Oracle Certified
                  Professional: Java SE 11 Developer</a>
              </div>
            </div>
          </section>
        </mat-card>
      </div>
    </div>
  </div>
</div>

